.sim-slider-element>img {
	width: 25%;
}

/* General styles */

.sim-slider {
	position: relative;
	/*max-width: 1118px;*/
	height: 45%; /*709px;*/
	/*left: 242px;*/
	background: #9C69E2;
	border-radius: 50px;
	text-align: left;
	/*margin-top: 12%;*/
	padding-bottom: 12%;
	/*padding-top: 10%;*/
}
.sim-slider-title {
	padding-top: 8%;
}
h2 {
	text-align: left;
	margin-left: 8% ;

}
.sim-slider-list {
	margin: 7% auto auto	;
	padding: 0;
	list-style-type: none;
	position: relative;
	/*top: 160px;*/
	width: 85%;
	/*max-width: 949px;*/
	height: 330px;
	background: #FFFFFF;
	box-shadow: 0 20px 0 rgba(90, 65, 132, 0.3);
	border-radius: 20px;
}

.sim-slider-element {
	width: 75%;
	transition: opacity 1s ease-in;
	opacity: 0;
	position: absolute;
	z-index: 2;
	left: 7.5% ; /*120px;*/
	top: 70px;

	/*display: block;*/
	display: flex;
	justify-content: center;
}
.slider-unit {
	padding-left: 40px;
	padding-top: 20px;
}
blockquote {
	padding-top: 20px;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
	width: 22px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	opacity: 0.6;
	z-index: 4;
}

div.sim-slider-arrow-left {
	right: 12%;
	top: 90%;
	display: block;
	background: url("../images/left_direction.svg") no-repeat;
}

div.sim-slider-arrow-right {
	right: 8%;
	top: 90%;
	display: block;
	background: url("../images/right_direction.svg") no-repeat;
}

div.sim-slider-arrow-left:hover {
	opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
	opacity: 1.0;
}

div.sim-slider-dots {
	width: 100%;
	height: auto;
	position: absolute;
	left: 7%;
	bottom: 7%;
  display: flex;
  align-items: center;
  z-index: 3;
}

span.sim-dot {
	width: 5px;
	height: 5px;
	margin: 5px 7px;
	padding: 0;
	display: inline-block;
	background-color: #FFF;
	border-radius: 5px;
	cursor: pointer;
}
