@font-face{font-family: 'Avenir'; src: url(../fonts/Avenir-Bold.woff);
																		url(../fonts/Avenir-Medium.woff);
																		url(../fonts/Avenir-Regular.woff);
					}
html, body {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
}
body {
	background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%)  no-repeat;
	max-width: 1600px;
	/*width: 100vw;*/
	font-family: 'Avenir-Regular', sans-serif;
	/*width: 100%;*/
	width: 100vw;
	height: auto;
	overflow-x:hidden;
	/*margin-top: 50px;
	margin-bottom: 90px;*/
	margin: auto;
	/* identical to box height, or 26px */
	color: #4B5D68;
	box-sizing: border-box;
}
h1, h2, h3, h4 {
	font-family:  Helvetica, Verdana, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: 130%;
	/*display: flex;*/
	/*align-items: center;*/
	color: #212353;
}
.all-content {
	width: 100%;
	height: 100%;
		/*width: 80%;*/
		/*height: 100%;*/
		/*max-width: 1280px;*/
		/*margin: 0 auto;*/
	margin: 3.2% auto 5.6%
}
nav , .data-storage-container,
/*.features-content, .Testimonials-slider*/
	main, footer {
	width: 70%;
	margin: 0 auto;
}
.header-section {
	/*background: url(../images/image1.svg) no-repeat bottom right;*/
}
.wrapper-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*max-width: 1160px;*/
	margin: 0 auto;
}

.nav-bar {
	display: flex;
	justify-content: space-around;
	align-self: center;
	/*padding-left: 20%;*/
	/*flex-grow: 1;*/
	/*justify-items: center;*/
}
.nav-bar-item {
	/*display: flex;*/
	/*justify-content: space-between ;*/
	padding-left: 5% ;
	padding-right: 5% ;
}
.nav-bar-item--active{
	font-weight: 700;
}
li, a {
	text-decoration: none;
}
/*}*/
/*.nav-bar-item + .nav-bar-item {*/
/*	margin-left: 40px;*/
/*}*/
.nav-bar-logo {
	display: flex;
	justify-content: space-between;
}
.demo-content {
	/*flex-grow: 1;*/
	/*align-items: end;*/
}
.container {
	display: flex;
	/*justify-content: center;*/
	background: url(../images/image1.svg) no-repeat bottom right;
	margin-top: 8%;
	margin-left:  14%; /* 220px;*/
	width: 80%;
}
.btn {
	background: #FFFFFF;
	box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	width: 210px;
	height: 60px;
	text-align:center;

	letter-spacing: 0.005em;
	padding-left: 24px;
}
.btn-demo {
	/*display: flex;*/
	/*align-self: center;*/
	font-weight: 800;
	font-size: 1rem;
	line-height: 1rem;
	/* identical to box height, or 26px */
	letter-spacing: 0.005em;
	color: #212353;
	display: flex;
	justify-content: space-between;
}
.header_content {
	position: relative;
	z-index: 2;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
}
h1 {
	font-size: 5rem;
	line-height: 110%;
	/* or 88px */
	width: 55%;
	flex-wrap: wrap;
	/*margin-top: 130px;*/
}
p {
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 160%;
}
.header-content p {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	/*width: 380px;*/
	/*height: 120px;*/
	margin: 50px 0;
	align-items: center;
	font-size: 1.125rem;

}
.header-img {
	z-index: 1;
	/*float: right;*/
	justify-items: end;
	border: none;
}
.btn-learn {
	/*display: flex;*/
	/*align-items: center;*/
	text-align: center;
	font-weight: 800;
	font-size: 1.125rem;

	color: #FFFFFF;
	background: #9C69E2;
	border-radius: 50px;
	margin-bottom: 100px;
}


.data-storage-container {
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 6.25%;
}
h2 {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	/* or 52px */
	/*display: flex;*/
	/*align-items: center;*/
	color: #212353;
	margin-bottom: 40px;

}
.data-storage p {
	height: 170px;
	font-size: 1.125rem;
}
.data-storage {
	width: 42%;
	margin: 0 auto;
	/*left: auto;*/
}
.data-storage h2 {
	margin: 0 auto 10%;
}


/*main section*/

.features-block {
	display: flex;
	flex-wrap: wrap;
	margin-top: 9.4%;
}
.features-block div {
	display: flex;
	justify-content: space-between;
	/*flex-basis: 45%;*/
	width: 45%;
	align-items: stretch;
	margin-bottom: 8%;
}
.features-element {
	flex-direction: column;
}
.features-element>p {
	padding-bottom: 50px;
	padding-top: 30px;
}
.first-block , .third-block, .second-block, .fourth-block  {
	padding-right:  3.2%;
}

.features-content {
	margin-top: 9.4%;
}
.features-title>h2, .features-title>p {
	text-align: center;
}
.features-title p{
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 160%;
	/*height: 160px;*/
	box-sizing: border-box;
	text-align: center;
	width: 49%;
	margin: auto;
}
h3	{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 130%;
	/* or 31px */
	align-items: center;
	color: #212353;
}
.features-block>p {
	font-weight: normal;
	font-size: 1rem;
}
.Testimonials-slider {
	margin-bottom: 15%;
}

/*footer section*/
hr {
	background: #9C69E2;
	opacity: 0.2;
	margin: 9.4% 0 6.25% 0;
}
.demo-learn, .footer-rights, .menu  {
	display: flex;
	justify-content: space-between;
}
.demo-learn {
	margin-bottom: 10%;
}
.demo-learn h2 {
	margin-left: 0;
}
.menu li {
	font-size: 16px;
	line-height: 250%;
	/* or 40px */
}
.footer-address ul {
	padding-top: 10px;
}
.menu h5 {
	font-weight: 900;
	font-size: 20px;
	line-height: 160%;
	color: #212353;
	margin-left: 20px;
}
.menu h6 {
	font-weight: 900;
	font-size: 16px;
	line-height: 160%;
	/* or 26px */
	color: #212353;
	padding-bottom: 30px ;
}
.footer-address ul li {
	font-size: 16px;
	line-height: 180%;
	/* or 29px */
	letter-spacing: 0.01em;
}
.footer-address ul:first-child {
	font-weight: 600;
	padding-top: 60px;
}
.footer-button {
	display: flex;
}
.logo-content {
		display: flex;
	margin-right: 20%;
}
.footer-rights {
	margin-top: 90px;
}
.footer-chat {
	position: fixed;
	top: 85%;
	left: 83%;
	z-index: 10;
}
.footer-rights p {
	display: flex;
	align-items: center;
	color: #212353;
	letter-spacing: 0.01em;
	font-style: normal;
	font-weight: normal;
	font-size: 0.75rem;
	line-height: 180%;
	/* or 22px */
	width: 55%;
}



