@font-face{
	font-family: 'Avenir';
	src: url(fonts/Avenir-Regular.woff);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir';           /* название одно */
	src: url('fonts/Avenir-Medium.woff'); /* разные файлы */
	font-weight: 600;              /* разная плотность */
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';           /* название одно */
	src: url('fonts/Avenir-Bold.woff'); /* разные файлы */
	font-weight: 900 ;              /* разная плотность */
	font-style: normal;
}
* {
	box-sizing: border-box;
}
li, a {
	text-decoration: none;
}
html, body {
	font-family: 'Avenir', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
}
body {
	background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%)  no-repeat;
	max-width: 1600px;
	/*width: 100vw;*/
	font-family: 'Avenir', sans-serif;
	/*width: 100%;*/
	/*width: 100vw;*/
	height: auto;
	overflow-x: hidden;
	/*margin-top: 50px;
	margin-bottom: 90px;*/
	margin: 0 auto;
	/* identical to box height, or 26px */
	color: #4B5D68;
	box-sizing: border-box;
}
h1, h2, h3, h4 {
	font-family:  Helvetica, Verdana, Arial, sans-serif;
	font-style: normal;
	font-weight: 900;
	line-height: 130%;
	/*display: flex;*/
	/*align-items: center;*/
	color: #212353;
}
.all-content {
	/*width: 100vw;*/
	/*height: 100%;*/
		/*width: 80%;*/
		/*height: 100%;*/
		/*max-width: 1280px;*/
		/*margin: 0 auto;*/
	margin: 3.2% auto 5.6%
}
.wrapper-content , .data-storage-container,
/*.features-content, .Testimonials-slider*/
	main, footer {
	width: 70%;
	margin: 0 auto;
}
.wrapper-content {
/*	!*max-width: 1160px;*!*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar-logo {
	margin-right: 12%;
}
.logo-img.lg {
	padding-left: 20px;
}
.header-nav-bar {
	display: inline-flex;
	align-items: center;
}
.nav-bar {
	display: flex;
}
.nav-bar-item.nav-bar-item--active {
	font-weight: 700;
}
.header-navigation {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	align-self: center;
}
.demo-content {
	margin-left: 25%;
}
.nav-bar-item + .nav-bar-item {
	margin-left: 40px;
}
.nav-bar-item a:hover {
	padding: 16px;
	transition-duration: 0.7s;
	transition-property: background-color;
}

.container {
	display: flex;
	/*justify-content: center;*/
	background: url(../images/image1.svg) no-repeat bottom right;
	margin-top: 8%;
	margin-left:  16%; /* 220px;*/
	width: 80%;
}
a:link, a:visited {
	text-decoration: none;
}
a:hover, a:active {
	background-color: #F063B8;
}
#logo:hover {
	background-color: #FFFFFF;
}
.footer-chat a:hover {
	background-color: #FFFFFF;
	zoom: 200%;
}
#face img:hover {
	background-color: #9C69E2;
	border-radius: 50%;
}
#twit img:hover {
	background-color: #9C69E2;
	border-radius: 50%;
}
#inst img:hover {
	background-color: #9C69E2;
	border-radius: 50%;
}
.btn {
	background: #FFFFFF;
	box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	text-align: center;
	letter-spacing: 0.005em;
	/*padding-left: 24px;*/
	height: 60px;
	cursor: pointer;
}
.btn-demo {
	/*display: flex;*/
	/*align-self: center;*/
	padding: 0 30px;
	/*width: 210px;*/
	font-weight: 800;
	font-size: 1rem;
	line-height: 1rem;
	/* identical to box height, or 26px */
	color: #212353;
	display: flex;
	justify-content: space-between;
}
.btn-demo:hover {
	background-color: #F063B8 ;
	}
.btn-demo img {
	padding-left: 20px;
}
.btn-learn {
	/*display: flex;*/
	/*align-items: center;*/
	text-align: center;
	font-weight: 800;
	font-size: 1.125rem;
	margin-bottom: 100px;
	padding: 0 37px;
	/*width: 160px;*/
	color: #FFFFFF;
}
.btn-learn:hover {
	background-color: #FFF ;
}
.btn-learn-head {
	background: #9C69E2;
}
.btn-main-learn img {
	padding-left: 20px;
}
.btn-main-learn {
	font-weight: 900;
	font-size: 1rem;
	line-height: 160%;
	letter-spacing: 0.005em;
	color: #212353;
}
.header_content {
	position: relative;
	z-index: 2;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
}
h1 {
	font-size: 5rem;
	line-height: 110%;
	/* or 88px */
	width: 55%;
	flex-wrap: wrap;
	/*margin-top: 130px;*/
}
p {
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 160%;
}
.header-content p {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	/*width: 380px;*/
	/*height: 120px;*/
	margin: 50px 0;
	align-items: center;
	font-size: 1.125rem;

}
.header-img {
	z-index: 1;
	/*float: right;*/
	justify-items: end;
	border: none;
}


.data-storage-container {
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 6.25%;
}
h2 {
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 130%;
	/* or 52px */
	/*display: flex;*/
	/*align-items: center;*/
	color: #212353;
	/*margin-bottom: 40px;*/
}
.data-storage p {
	height: 170px;
	font-size: 1.125rem;
}
.data-storage {
	width: 42%;
	margin: 0 auto;
	/*left: auto;*/
}
.data-storage h2 {
	margin: 0 auto 10%;
}

/*main section*/

.features-block {
	display: flex;
	flex-wrap: wrap;
	margin-top: 9.4%;
}
.features-block div {
	display: flex;
	justify-content: space-between;
	/*flex-basis: 45%;*/
	max-width: 45%;
	align-items: stretch;
	margin-bottom: 8%;
}
.features-element {
	flex-direction: column;
}
.features-element>p {
	padding-bottom: 50px;
	padding-top: 30px;
}
.first-block , .third-block, .second-block, .fourth-block  {
	padding-right:  3.2%;
}
.features-content {
	margin-top: 9.4%;
}
.features-title>h2 {
	text-align: center;
	margin-left: auto;
	margin-bottom: 50px;
}
.features-title p{
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 160%;
	/*height: 160px;*/
	box-sizing: border-box;
	text-align: center;
	width: 49%;
	margin: auto;
}
h3	{
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 130%;
	/* or 31px */
	align-items: center;
	color: #212353;
}
.features-block>p {
	font-weight: 400;
	font-size: 1rem;
}
.Testimonials-slider {
	margin-bottom: 15%;
}

/*footer section*/
hr {
	background: #9C69E2;
	opacity: 0.2;
	margin: 9.4% 0 6.25% 0;
}
.demo-learn, .footer-rights, .menu  {
	display: flex;
	justify-content: space-between;
}
.demo-learn {
	margin-bottom: 10%;
}
.demo-learn h2 {
	margin-left: 0;
	margin-bottom: 20px;
}
.menu li {
	font-size: 1rem;
	line-height: 250%;
	/* or 40px */
}
.footer-address ul {
	padding-top: 20px;
}
.menu h5, .menu h6 {
	font-weight: 900;
	line-height: 160%; /* or 26px */
	color: #212353;
}
.menu h5 {
	font-size: 1.25rem;
	margin-left: 20px;
}
.menu h6 {
	font-size: 1rem;
	padding-bottom: 30px ;
}
.footer-address ul li {
	font-size: 1rem;
	line-height: 180%; /* or 29px */
	letter-spacing: 0.01em;
}
.footer-address ul:first-child {
	font-weight: 600;
	padding-top: 60px;
}
.footer-button {
	display: flex;
}
.btn-learn-foo {
	margin-right: 30px;
	background: #F063B8;
}
.menu .logo-content {
	display: flex;
	margin-right: 20%;
}
.footer-about, .footer-help, .footer-media {
	margin-top: 5px;
}
/*.footer-media img:nth-child(3) {*/
/*	margin-right: 15px;*/
/*	margin-left: 15px;*/
/*}*/
#twit {
	padding: 0 15px;
}
.footer-rights {
	margin-top: 90px;
}
.footer-chat {
	position: fixed;
	top: 85%;
	left: 83%;
	z-index: 10;
}
.footer-rights p {
	display: flex;
	align-items: center;
	color: #212353;
	letter-spacing: 0.01em;
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 180%;
	/* or 22px */
	max-width: 55%;
}

/* Menu*/
.dropbtn {
	background-color: #FFF;
	/*padding: 16px;*/
	font-size: 1rem;
	border: none;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 110px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 9px 15px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #F063B8;}


@media screen and (max-width: 1080px){
	body {
		font-size: 10px;
		overflow-x: hidden;
	}
	.header-content p {
		font-size: 14px;
	}
	.data-storage p {
		font-size: 14px;
	}
	.features-block div {
		min-width: 45%;
	}
	img {
		max-width: 50%;
	}
	.logo-img img {
		max-width: 100%;
	}
	.container {
	background-size: 90%;
	}
	.header-content {
		max-width: 70%;
		max-height: 70%;
	}
	h1 {
		font-size: 40px;
	}
	.header-content p {
		max-width: 40%;
		margin: 25px;
	}
	.data-storage h2 {
		margin: 2%;
	}
	.data-storage {
		width: 46%;
	}
	h2 {
		font-size: 26px;
	}
	.footer-chat img {
		max-width: 200%
	}
	.footer-chat {
		top: 92%;
	}
}


