@media (min-width: 768px) and (max-width: 1024px) {
	/* Header */
	.header-content {
		background-size: 78% 100%;
		background-position-x: right;
		}

	.header__sports-container {
		width: 42%;
		margin-left: 5%;
		}

	#logo {
		padding-top: 28px;
		}

	.header__sports-title {
		margin-top: 5%;
		}

	.header__sports-button {
		display: block;
		}

	button {
		margin-top: 30px;
		}

	/* Footer*/
	.footer__logotypes-container {
	justify-content: space-evenly ;
	}
	.footer__team-title {
		margin-left: 33px;
		margin-right: 5%;
		}
	.footer__team-button {
		display: flex;
		justify-content: space-between;
		}
	button {
		width: 146px;
		height: 44px;
		margin-right: 0;
		}
	.btn-text-app span {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 9px;
		line-height: 11px;
		padding-left: 3px;
		padding-right: 5px;
		}
	.btn-svg-app {
		width: 22px;
		height: auto;
		margin-left: 3px;
		}
	.btn-text-app span:last-child {
		font-weight: 500;
		font-size: 19px;
		line-height: 23px;
		}
	.nav-bar {
		margin-top: -40px;
		}
	.nav-bar__menu li {
		padding-left: 25px;
		}
	.nav-bar__wrapper {
		margin: 40px;
		padding: 40px 0;
		}
	}

@media (max-width: 720px) {
	h1 {
		font-size: 30px;
		line-height: 40px;
		display: flex;
		align-items: flex-end;
		text-align: center;
		}
	h2 {
		text-align: center;
		font-size: 27px;
		line-height: 37px;
		}
	p {
		font-size: 16px;
		line-height: 23px;
		text-align: center;
		}
	/* Header */
	.header-content {
		background: #F4F6F9;
		}
	.header__sports-container {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		}
	.header__sports-button {
		display: flex;
		justify-content: space-around;
		}

	/* Main container */



	/* Footer */
	.footer__logotypes {
		height: 409px;
		padding: 57px 20px;
		}
	.footer__logotypes h2 {
		padding-top: 0;
		}
	.footer__logotypes-container {
		margin-top: 47px;
		max-width: 318px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		}
	.footer__logotypes-container svg:nth-last-of-type(-n+4) {
		margin-top: 26px;
		}
	.footer__logotypes-container svg:last-of-type {
		margin-top: inherit;
		margin-left: auto;
		margin-right: auto;
		}
	.footer__team {
		flex-wrap: wrap;
		justify-items: center;
		justify-content: center;
		height: auto;
		}
	.footer__team-button {
		display: flex;
		justify-content: space-between;
		}
	button {
		width: 146px;
		height: 44px;
		margin-right: 0;
		}
	.btn-text-app span {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 9px;
		line-height: 11px;
		padding-left: 3px;
		padding-right: 5px;
		}
	.btn-svg-app {
		width: 22px;
		height: auto;
		margin-left: 3px;
		}
	.btn-text-app span:last-child {
		font-weight: 500;
		font-size: 19px;
		line-height: 23px;
		}
	.footer__team-title p {
		text-align: center;
		margin-top: 15px;
		font-size: 16px;
		line-height: 25px;
		}
	.footer__team-img {
		width: 100%;
		order: 1;
		}
	.footer__team-title {
		width: 91%;
		margin: 20px;
		}
	.nav-bar {
		margin-top: -2px;
		}
	.nav-bar__wrapper{
		margin: 0  0  0 20px;
		padding-top: 40px ;
		flex-direction: column;
		align-items: flex-start;
		min-height: 210px;
		}
	.nav-bar__menu {
		order: 1;
		}
	.nav-bar__menu li {
		padding-right: 19px;
		padding-left: 0;
		padding-top: 34px;
		}
	.nav-bar__icons {
		padding-top: 18px;
		align-self: flex-start;
		}
	}

@media (max-width: 320px) {
	.nav-bar__icons {
		align-self: normal;
		}
	.nav-bar__wrapper {
		align-items: center;
		}
	.nav-bar__menu li {
		padding-right: 9px;
		font-size: 16px;
		line-height: 21px;
		}
	}