@media (min-width: 768px) and (max-width: 1024px) {
	/* Header */
	.header-content {
		background-size: 78% 100%;
		background-position-x: right;
		}
	.header__sports-container {
		width: 42%;
		margin-left: 5%;
		}
	#logo {
		padding-top: 28px;
		}
	.header__sports-title {
		margin-top: 5%;
		}
	.header__sports-button {
		display: block;
		}
	button {
		margin-top: 30px;
		}

	/* Main container */
	.main__wrapper {
		background-size: 56% 100%;
		height: 472px;
		}
	.main__football-experience, .main__what-it-does__picture {
		width: 40%;
		}
	.main__what-it-does {
		justify-content: space-evenly;
		background-size: 57%;
		}
	.picture__logotype p {
		font-weight: bold;
		font-size: 11px;
		line-height: 14px;
		}
	.picture__logotype p:nth-child(2) {
		width: 53px;
		font-size: 12px;
		line-height: 16px;
		color: #000000;
		padding: 9px 0;
		text-align: start;
		}
	.picture__logotype p:first-child {
		text-align: start;
		}
	.picture__logotype, .picture__video {
		width: 247px;
		height: 150px;
		}
	.picture__logotype-img {
		display: flex;
		}
	.picture__logotype-img img:first-child {
		height: 57px;
		width: auto;
		transform: translateX(9px);
		}
	.picture__logotype-img img:last-child {
		width: 57px;
		height: auto;
		}
	.picture__logotype-checkbox p {
		font-size: 13px;
		line-height: 17px;
		}
	.main__features-wrapper h2 {
		padding-top: 34px;
		}
	.main__features-items {
		max-width: 700px;
		}
	.features-item {
		padding-top: 30px;
		}
	.main__users-interface__container {
		justify-content: center;
		}

	/* Footer*/
	.footer__logotypes-container {
	justify-content: space-evenly ;
	}
	.footer__team-title {
		margin-left: 33px;
		margin-right: 5%;
		}
	.footer__team-button {
		display: flex;
		justify-content: space-between;
		}
	button {
		width: 146px;
		height: 44px;
		margin-right: 0;
		}
	.btn-text-app span {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 9px;
		line-height: 11px;
		padding-left: 3px;
		padding-right: 5px;
		}
	.btn-svg-app {
		width: 22px;
		height: auto;
		margin-left: 3px;
		}
	.btn-text-app span:last-child {
		font-weight: 500;
		font-size: 19px;
		line-height: 23px;
		}
	.nav-bar {
		margin-top: -40px;
		}
	.nav-bar__menu li {
		padding-left: 25px;
		}
	.nav-bar__wrapper {
		margin: 40px;
		padding: 40px 0;
		}
	}

@media (max-width: 720px) {
	h1 {
		font-size: 30px;
		line-height: 40px;
		display: flex;
		align-items: flex-end;
		text-align: center;
		}
	h2 {
		text-align: center;
		font-size: 27px;
		line-height: 37px;
		}
	p {
		font-size: 16px;
		line-height: 23px;
		text-align: center;
		}
	/* Header */
	.header-content {
		background: #F4F6F9;
		}
	.header__sports-container {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		}
	.header__sports-button {
		display: flex;
		justify-content: space-around;
		}

	/* Main container */
	.main__wrapper {
		height: 828px;
		background-position:  bottom;
		background-size: 144% 42%;
		}
	.picture__logotype p {
		font-weight: bold;
		font-size: 11px;
		line-height: 14px;
		}
	.picture__logotype p:nth-child(2) {
		width: 53px;
		font-size: 12px;
		line-height: 16px;
		color: #000000;
		padding: 9px 0;
		text-align: start;
		}
	.picture__logotype p:first-child {
		text-align: start;
		}
	.main__what-it-does {
		flex-direction: column-reverse;
		background-size: 100%;
		}
	.main__football-experience {
		width: 90%;
		text-align: center;
		}
	.main__what-it-does__picture	{
		width: 70%;
		padding-top: 65px;
		}
	.picture__logotype, .picture__video {
		width: 247px;
		height: 150px;
		}
	.picture__logotype-img {
		display: flex;
		}
	.picture__logotype-img img:first-child {
		height: 57px;
		width: auto;
		transform: translateX(9px);
		}
	.picture__logotype-img img:last-child {
		width: 57px;
		height: auto;
		}
	.picture__logotype-checkbox p {
		font-size: 13px;
		line-height: 17px;
		}
	.features-item p {
		color: #4F4F4F;
		text-align: center;
		}
	.main__features {
		width: inherit;
		height: 1775px;
		background: #FAFAFA;
		}
	.main__features-wrapper h2 {
		padding-top: 42px;
		font-size: 28px;
		line-height: 37px;
		text-align: center;
		color: #333333;
		}
	.main__features-items {
		flex-direction: column;
		max-width: 360px;
		align-items: center;
		justify-content: unset;
		}
	.features-item {
		width: 311px;
		padding-top: 54px;
		text-align: center;
		}
	.color-svg {
		fill: #00ADEE;
		}
	.main__users-interface__container {
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		}
	.main__user-interface {
		width: 85%;
		margin-top: 62px;
		}
	.main__mobile-liverpool {
		width: 100%;
		padding-top: 90px;
		padding-bottom: 32px;
		}
	.main__mobile-liverpool img {
		width: 80%;
		}

	/* Footer */
	.footer__logotypes {
		height: 409px;
		padding: 57px 20px;
		}
	.footer__logotypes h2 {
		padding-top: 0;
		}
	.footer__logotypes-container {
		margin-top: 47px;
		max-width: 318px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		}
	.footer__logotypes-container a:nth-last-of-type(-n+4) {
		margin-top: 26px;
		}
	.footer__logotypes-container a:last-of-type {
		margin-top: inherit;
		margin-left: auto;
		margin-right: auto;
		}
	.footer__team {
		flex-wrap: wrap;
		justify-items: center;
		justify-content: center;
		height: auto;
		}
	.footer__team-button {
		display: flex;
		justify-content: space-between;
		}
	button {
		width: 146px;
		height: 44px;
		margin-right: 0;
		}
	.btn-text-app span {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 9px;
		line-height: 11px;
		padding-left: 3px;
		padding-right: 5px;
		}
	.btn-svg-app {
		width: 22px;
		height: auto;
		margin-left: 3px;
		}
	.btn-text-app span:last-child {
		font-weight: 500;
		font-size: 19px;
		line-height: 23px;
		}
	.footer__team-title p {
		text-align: center;
		margin-top: 15px;
		font-size: 16px;
		line-height: 25px;
		}
	.footer__team-img {
		width: 100%;
		order: 1;
		}
	.footer__team-title {
		width: 91%;
		margin: 20px;
		}
	.nav-bar {
		margin-top: -2px;
		}
	.nav-bar__wrapper{
		margin: 0  0  0 20px;
		padding-top: 40px ;
		flex-direction: column;
		align-items: flex-start;
		min-height: 210px;
		}
	.nav-bar__menu {
		order: 1;
		}
	.nav-bar__menu li {
		padding-right: 19px;
		padding-left: 0;
		padding-top: 34px;
		}
	.nav-bar__icons {
		padding-top: 18px;
		align-self: flex-start;
		}
	}

@media (max-width: 320px) {
	.nav-bar__icons {
		align-self: normal;
		}
	.nav-bar__wrapper {
		align-items: center;
		}
	.nav-bar__menu li {
		padding-right: 9px;
		font-size: 16px;
		line-height: 21px;
		}
	}