html, body {
	width: 100vw;
	height: auto;
	margin: auto;
	background: #E5E5E5;
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-size: 16px;
	}
.wrapper {
	margin: auto;
	border: 2px solid	#E5E5E5;
	height: auto;
	background-color: white;
	}
.all-wrapper {
	margin: auto;
	max-width: 1440px;
	}
nav , header, main , footer {
	width: inherit;
	}
h1 , h2 , h3 {
	font-family: 'Lato', sans-serif ;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	}
h1 {
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.03em;
	display: flex;
	align-items: flex-end;
	}
h2 {
	font-size: 28px;
	line-height: 37px;
	}
h3 {
	font-size: 16px;
	line-height: 21px;
	color: #00ADEE;
	}
p {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	color: #4F4F4F;
	}
.header__sports-title p {
	font-size: 18px;
	line-height: 26px;
	}
.footer__team-title p {
	font-size: 16px;
	line-height: 25px;
	}

/*  Header */
.header-content {
	width: inherit;
	height: 665px;
	background: url("./../images/mobile-background.jpg") 100% 100% no-repeat;
	}
.header__sports-container {
	width: 45%;
	margin-left: 11%;
	margin-right: 70px;
	}
.header__sports-title {
	margin-top: 21%;
	}
.header__sports-button {
	display: flex;
	margin-top: 50px;
	}
#logo {
	padding-top: 50px;
	}
.header__sports-title p {
	max-width: 453px;
	min-height: 52px;
	margin-top: 30px;
	}
.header__sports-button {
	margin-top: 50px;
	}

/* Main container */
.main__wrapper {
	flex-basis: 592px;
	height: 592px;
	background-image: url("./../images/football.png") ;
	background-position: left;
	background-repeat: no-repeat;
	}
.main__what-it-does {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
	background-size: 60%;
	}
.main__what-it-does__picture	{
width: 40%;
	}
.main__football-experience {
	width: 30%;
	}
.main__football-experience p:first-of-type ,
 .main__user-interface p:first-of-type , h2 {
	padding-top: 27px;
	}
.main__football-experience p, .main__user-interface p {
	padding-right: 3%;
	}
.main__football-experience p:last-of-type, h3:last-of-type ,
.main__user-interface p:last-of-type {
	padding-top: 22px;
	}
.picture__logotype , .picture__video {
	width: 360px;
	height: 218px;
	}
.picture__logotype {
	background: #FFFFFF;
	box-shadow: -22px 24px 49px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	transform: translate(-14%, 14%);
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	}
.picture__logotype-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	}
.picture__logotype p {
	font-weight: bold;
	font-size: 17px;
	line-height: 22px;
	}
.picture__logotype p:nth-child(2) {
	width: 77px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	padding: 13px 0;
	}
.picture__logotype-img img:first-child {
position: relative;
z-index: 8;
transform: translateX(18px);
	}
.picture__logotype-img img:last-child {
	position: relative;
	z-index: 10;
	}
.picture__video {
	background: url(./../images/video.jpg);
	border-radius: 4px;
	transform: translateX(15%);
	position: relative;
	z-index: 1;
	}
.picture__logotype-checkbox {
	width: inherit;
	height: 49px;
	background: #EEEEEE;
	border-radius: 0 0 4px 4px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	}
.picture__logotype-checkbox p {
	font-size: 19px;
	line-height: 25px;
	}
 .main__features {
	 width: inherit;
	 height:  735px;
	 background-image: url("./../images/experience.png") ;
	 background-size: 100% 100% ;
	 background-repeat: no-repeat;
	 }
 .main__features-wrapper h2 {
	 text-align: center;
	 color: #FFFFFF;
	 padding-top: 76px;
	 }
 .main__features-items {
	display: flex;
	max-width: 1100px;
	margin: 0 auto;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	}
	.features-item {
	width: 30%;
	padding-top: 57px;
	}
 .features-item p {
	 color: #FFFFFF;
	 flex-basis: 311px;
	 }
	.main__users-interface__container {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background: url("./../images/all-circles.png") no-repeat right;
		}
.main__mobile-container {
	margin-right: 5%;
	}
	.main__user-interface {
		width: 34%;
		}
	.main__mobile-liverpool {
		width: 32%;
		padding: 51px 0;
		}
	.round-circle	{
		position: relative;
		border-radius: 50%;
		background-color: #FFFFFF;
		width: 30px;
		height: 30px;
		box-shadow: 0 3px 16px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(51, 51, 51, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translate(-90px, 580px);
		}
	.round-circle::after {
		content: "";
		width: 14px;
		height: 14px;
		background: #00ADEE;
		transform: matrix(-1, 0, 0, 1, 0, 0);
		border-radius: 50%;
		position: absolute;
		}
  .bell__user-interface {
		position: relative;
		transform: translate(27px, 205px);
		border-radius: 50%;
		width: 91px;
	 	height: 91px;
	 	background: #FFFFFF;
 		box-shadow: 0 3px 16px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(51, 51, 51, 0.1);
	}
	.bell__user-interface::after {
	content: "7";
	width: 23px;
	height: 23px;
	border-radius: 50%;
	position: absolute;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 15px;
	left: 50px;
	background: #00adee;
		}
.bell__user-interface img {
	position: relative;
	transform: translate(26px, 25px);
	}
.home_screen__user-interface {
	display: block;
	position: relative;
	transform: translate(278px, -283px);
	border-radius: 50%;
	width: 91px;
	height: 91px;
	background: #FFFFFF;
	box-shadow: 0 3px 16px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(51, 51, 51, 0.1);
	}
.home_screen__user-interface img {
	position: relative;
	transform: translate(23px, 24px);
	}
.home_screen__user-interface2 {
	display: none;
	}


/* Footer */
.footer__users-say {
	text-align: center;
	}
.footer__logotypes {
	height: 278px;
	background: #FAFAFA;
	}
.footer__logotypes h2 {
	padding-top: 57px;
	text-align: center;
	}
.footer__logotypes-container {
	margin: 58px auto;
	max-width: 1081px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
.footer__team {
	display: flex;
	justify-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
	align-items: center;
	width: inherit;
	height: 483px;
	border: none;
	outline: none;
	/*max-width: 1440px;*/
	/*margin: auto;*/
	}
.footer__team-img>img{
	max-width: 100%;
	min-height: 100%;
	}
.footer__team-img {
	width: 56%;
	height: inherit;
	}
.footer__team-title {
	width: 45%;
	margin-left: 70px;
	margin-right: 11%;
	}
.footer__team-title p {
	max-width: 535px;
	min-height: 125px;
	margin-top: 35px;
	}
.footer__team-button {
	display: flex;
	margin-top: 38px;
	}
 button {
	 max-width: 156px;
	 max-height: 47px;
	 background: #000000;
	 border-radius: 7px;
	 outline: none;
	 border: none;
	 display: flex;
	 align-items: center;
	 margin-right: 38px;
	 cursor: pointer;
	}
.btn-text-app span {
	color: white;
	font-family: 'Roboto' , sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	flex-direction: column;
	display: flex;
	align-items: flex-start;
	padding-left: 4px;
	padding-right: 5px;
	}
.btn-text-app span:last-child {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
	}
 .btn-text span {
	 color: white;
	 font-family: 'Roboto' , sans-serif;
	 font-style: normal;
	 font-weight: normal;
	 font-size: 11px;
	 line-height: 13px;
	 }
 .btn-svg {
	 width: 58px;
	 height: auto;
	 margin-left: 4px;
	 }
.btn-svg-app {
	width: 26px;
	height: auto;
	margin-left: 6px;
	}
 .btn-text img {
	 padding-top: 2px;
	 }
.btn-text span:first-child {
	padding-right: 25px;
	}
.btn-text span:last-child {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	vertical-align: top;
	}
 .svg-blue {
	 fill: #00D6FF;
	 }
 .svg-green {
	 fill: #00F076;
	 }
 .svg-red {
	 fill: #F93647;
	 }
 .svg-yellow {
	 fill: #FFCE00;
	 }

/* Navigation */
.nav-bar {
	background-color: #00ADEE;
	min-height: 127px;
	}
.nav-bar__wrapper {
	/*margin-right: 162px;*/
	/*margin-left: 163px;*/
	/*max-width: 1440px;*/
	/*margin: auto;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	vertical-align: center;
	flex-wrap: wrap;
	padding-top: 50px;
	padding-bottom: 50px;
	}
.nav-bar__menu ul {
	display: flex;
	justify-content: space-around;
	align-content: center;
	}
.nav-bar__menu li {
	padding-left: 37px;
	font-family: Lato , sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	opacity: 0.8;
	}
.nav-bar__icons {
	display: flex;
	justify-content: space-evenly;
	align-self: flex-end;
	}
.nav-bar__icons img {
	padding-right: 17px;
	}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 27px;
	height: 13px;
	}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
	}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #979797;
	border-radius: 105px;
	outline: none;
	-webkit-transition: .5s;
	transition: .5s;
	}

.slider:before {
	position: absolute;
	content: "";
	height: 21px;
	width: 21px;
	right: 14px;
	bottom: -4px;
	background: #FFFFFF;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	-webkit-transition: .5s;
	transition: .5s;
	}

input:checked + .slider {
	background-color: #2196F3;
	}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
	}

input:checked + .slider:before {
	-webkit-transform: translateX(21px);
	-ms-transform: translateX(21px);
	transform: translateX(21px);
	}

/* Rounded sliders */
.slider.round {
	border-radius: 31px;
	}

.slider.round:before {
	border-radius: 50%;
	}