mixin button__primary--sm()
    button.btn.btn-download--sm.btn__primary Download

mixin button__primary--left--sm()
    button.btn.btn-download--sm.btn__primary.download--left
        +svg_1(class="white")
        span.left Download

mixin button__primary--right--sm()
    button.btn.btn-download--sm.btn__primary.download--right
        span.right Download
        +svg_1(class="white")

mixin button__disabled--sm()
    button.btn.btn-download--sm.btn__disabled Download

mixin button__disabled--left--sm()
    button.btn.btn-download--sm.btn__disabled
        +svg_1(class="grey")
        span.left Download

mixin button__disabled--right--sm()
    button.btn.btn-download--sm.btn__disabled
        span.right Download
        +svg_1(class="grey")

mixin button__secondary--sm()
    button.btn.btn-download--sm.btn__secondary Download

mixin button__secondary--left--sm()
    button.btn.btn-download--sm.btn__secondary
        +svg_1(class="black")
        span.left Download

mixin button__secondary--right--sm()
    button.btn.btn-download--sm.btn__secondary
        span.right Download
        +svg_1(class="black")

mixin button__secondary_focused--sm()
    button.btn.btn-download--sm.btn__secondary_focused Download

mixin button__secondary_focused--left--sm()
    button.btn.btn-download--sm.btn__secondary_focused
        +svg_1(class="blue")
        span.left Download

mixin button__secondary_focused--right--sm()
    button.btn.btn-download--sm.btn__secondary_focused
        span.right Download
        +svg_1(class="blue")
