mixin button__primary()
    button.btn.btn-download_lg.btn__primary Download

mixin button__primary--left()
    button.btn.btn-download_lg.btn__primary.download--left
        +svg_2(class="white")
        span.left Download

mixin button__primary--right()
    button.btn.btn-download_lg.btn__primary.download--right
        span.right Download
        +svg_2(class="white")

mixin button__disabled()
    button.btn.btn-download_lg.btn__disabled Download

mixin button__disabled--left()
    button.btn.btn-download_lg.btn__disabled
        +svg_2(class="grey")
        span.left Download

mixin button__disabled--right()
    button.btn.btn-download_lg.btn__disabled
        span.right Download
        +svg_2(class="grey")

mixin button__secondary()
    button.btn.btn-download_lg.btn__secondary Download

mixin button__secondary--left()
    button.btn.btn-download_lg.btn__secondary
        +svg_2(class="black")
        span.left Download

mixin button__secondary--right()
    button.btn.btn-download_lg.btn__secondary
        span.right Download
        +svg_2(class="black")

mixin button__secondary_focused()
    button.btn.btn-download_lg.btn__secondary_focused Download

mixin button__secondary_focused--left()
    button.btn.btn-download_lg.btn__secondary_focused
        +svg_2(class="blue")
        span.left Download

mixin button__secondary_focused--right()
    button.btn.btn-download_lg.btn__secondary_focused
        span.right Download
        +svg_2(class="blue")