@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  max-width: 1139px;
  width: 100%;
  margin: 0 auto;
}

.footer-button__block .btn-group_Tab_3 .btn__Tab_3, .footer-button__block .btn-group_big-icon .btn__Tab_3, .footer-button__block .btn-group_Tab_1 .btn__Tab_1, .header-button__block .btn-group_Tab_3 .btn__Tab_3, .header-button__block .btn-group_Tab_1 .btn__Tab_1, .header-button__block .btn-group_Tab_3 .btn__Tab_1, .header-button__block .footer-button__block .btn-group_big-icon .btn__Tab_1, .footer-button__block .header-button__block .btn-group_big-icon .btn__Tab_1, .btn-download--lg {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.btn-tag--sm, .btn-download--sm {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #2C2C2C;
}

.footer-button__block .btn-group_Tab_3 .btn__Tab_3:first-child, .footer-button__block .btn-group_big-icon .btn__Tab_3:first-child, .footer-button__block .btn-group_Tab_1 .btn__Tab_1:first-child, .footer-button__block .btn-group_big-icon .btn__big-icon:first-child, .header-button__block .btn-group_Tab_3 .btn__Tab_3:first-child, .header-button__block .btn-group_Tab_1 .btn__Tab_1:first-child, .header-button__block .btn-group_Tab_3 .btn__Tab_1:first-child, .header-button__block .footer-button__block .btn-group_big-icon .btn__Tab_1:first-child, .footer-button__block .header-button__block .btn-group_big-icon .btn__Tab_1:first-child, .header-button__block .btn-group_big-icon .btn__big-icon:first-child {
  border-radius: 5px 0 0 5px;
}
.footer-button__block .btn-group_Tab_3 .btn__Tab_3:nth-child(2), .footer-button__block .btn-group_big-icon .btn__Tab_3:nth-child(2), .footer-button__block .btn-group_Tab_1 .btn__Tab_1:nth-child(2), .footer-button__block .btn-group_big-icon .btn__big-icon:nth-child(2), .header-button__block .btn-group_Tab_3 .btn__Tab_3:nth-child(2), .header-button__block .btn-group_Tab_1 .btn__Tab_1:nth-child(2), .header-button__block .btn-group_Tab_3 .btn__Tab_1:nth-child(2), .header-button__block .footer-button__block .btn-group_big-icon .btn__Tab_1:nth-child(2), .footer-button__block .header-button__block .btn-group_big-icon .btn__Tab_1:nth-child(2), .header-button__block .btn-group_big-icon .btn__big-icon:nth-child(2) {
  border-radius: 0;
}
.footer-button__block .btn-group_Tab_3 .btn__Tab_3:last-child, .footer-button__block .btn-group_big-icon .btn__Tab_3:last-child, .footer-button__block .btn-group_Tab_1 .btn__Tab_1:last-child, .footer-button__block .btn-group_big-icon .btn__big-icon:last-child, .header-button__block .btn-group_Tab_3 .btn__Tab_3:last-child, .header-button__block .btn-group_Tab_1 .btn__Tab_1:last-child, .header-button__block .btn-group_Tab_3 .btn__Tab_1:last-child, .header-button__block .footer-button__block .btn-group_big-icon .btn__Tab_1:last-child, .footer-button__block .header-button__block .btn-group_big-icon .btn__Tab_1:last-child, .header-button__block .btn-group_big-icon .btn__big-icon:last-child {
  border-radius: 0 5px 5px 0;
}

svg {
  vertical-align: middle;
}

.icon, .icon_small {
  vertical-align: middle;
}

.white {
  stroke: #FFFFFF;
}

.grey {
  stroke: #878787;
}

.blue {
  stroke: #18A0FB;
}

.black {
  stroke: #2C2C2C;
}

.black-loop {
  fill: #2C2C2C;
}

span {
  vertical-align: middle;
}
span.left {
  margin-left: 10px;
}
span.right {
  margin-right: 10px;
}

.btn__primary {
  color: #FFFFFF;
  background-color: #18A0FB;
}

.btn__disabled {
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
}

.btn__secondary {
  color: #2C2C2C;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
}

.btn__secondary_focused {
  border: 1px solid #18A0FB;
  color: #18A0FB;
  background-color: #FFFFFF;
}

.btn__primary:hover {
  opacity: 0.7;
}
.btn__primary:active {
  border: 1px solid #18A0FB;
  color: #18A0FB;
  background-color: #c1c6e8;
}

.btn__disabled:active {
  opacity: 0.5;
}
.btn__disabled:hover {
  color: #2C2C2C;
}

.btn__secondary:hover {
  opacity: 0.7;
  background-color: rgba(224, 224, 224, 0.3);
}
.btn__secondary:active {
  color: #2C2C2C;
  opacity: 1;
  background-color: #9e9191;
}

.btn__secondary_focused:hover {
  background-color: #c1c6e8;
}
.btn__secondary_focused:active {
  color: #FFFFFF;
}

.btn {
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn-download--lg:nth-child(-n+4) {
  width: 144px;
  justify-self: center;
  padding: 14px 36px;
}

.header-button__block .btn-group_big-icon {
  display: flex;
}
.header-button__block .btn-group_big-icon .btn__big-icon {
  width: 56px;
  height: 48px;
}
.header-button__block .btn-group_Tab_1, .header-button__block .btn-group_Tab_3, .header-button__block .footer-button__block .btn-group_big-icon, .footer-button__block .header-button__block .btn-group_big-icon {
  display: flex;
  margin-top: 24px;
  height: 46px;
}
.header-button__block .btn-group_Tab_1 .btn__Tab_1, .header-button__block .btn-group_Tab_3 .btn__Tab_1, .header-button__block .footer-button__block .btn-group_big-icon .btn__Tab_1, .footer-button__block .header-button__block .btn-group_big-icon .btn__Tab_1 {
  width: 134px;
}
.header-button__block .btn-group_Tab_3 .btn__Tab_3, .header-button__block .footer-button__block .btn-group_big-icon .btn__Tab_3, .footer-button__block .header-button__block .btn-group_big-icon .btn__Tab_3 {
  width: 106px;
}

@media (max-width: 400px) {
  .footer-button__block {
    margin-bottom: 20px;
  }
}
.footer-button__block .btn-group_big-icon .btn__big-icon {
  width: 48px;
}
.footer-button__block .btn-group_Tab_1, .footer-button__block .header-button__block .btn-group_Tab_3, .header-button__block .footer-button__block .btn-group_Tab_3, .header-button__block .footer-button__block .btn-group_big-icon, .footer-button__block .header-button__block .btn-group_big-icon {
  display: flex;
  height: 36px;
}
.footer-button__block .btn-group_Tab_1 .btn__Tab_1, .footer-button__block .header-button__block .btn-group_Tab_3 .btn__Tab_1, .header-button__block .footer-button__block .btn-group_Tab_3 .btn__Tab_1, .header-button__block .footer-button__block .btn-group_big-icon .btn__Tab_1, .footer-button__block .header-button__block .btn-group_big-icon .btn__Tab_1 {
  width: 86px;
}
.footer-button__block .btn-group_Tab_3, .footer-button__block .btn-group_big-icon {
  display: flex;
  margin-top: 20px;
  height: 36px;
}
.footer-button__block .btn-group_Tab_3 .btn__Tab_3, .footer-button__block .btn-group_big-icon .btn__Tab_3 {
  width: 58px;
}

.footer-button__circle-block {
  margin-left: 66px;
}
.footer-button__circle-block .btn__circle-small {
  width: 36px;
  height: 36px;
  background: #FF3E1D;
  border-radius: 100px;
  vertical-align: top;
}
.footer-button__circle-block .btn__circle-small:hover {
  opacity: 0.7;
}
.footer-button__circle-block .btn__circle-small:active {
  background: #d0ff0a;
}
.footer-button__circle-block .btn__circle-big {
  width: 48px;
  height: 48px;
  background: #00D200;
  border-radius: 29px;
  margin-left: 20px;
}
.footer-button__circle-block .btn__circle-big:hover {
  opacity: 0.7;
}
.footer-button__circle-block .btn__circle-big:active {
  background: #3f04e2;
}
.footer-button__circle-block .size {
  width: 12.5px;
  height: 12.5px;
}

.btn-download--sm:nth-child(-n+4) {
  width: 114px;
  justify-self: center;
}
.btn-download--sm:nth-child(9) {
  background-color: #FF3E1D;
}

.btn-tag--sm:nth-last-child(-n+2) {
  width: 51px;
  justify-self: start;
}

.tag--small {
  display: grid;
  grid-template-columns: 65px 65px;
  grid-template-rows: 28px 28px;
  column-gap: 12px;
  row-gap: 20px;
}
.tag--small.button.btn:nth-child(2) {
  width: 51px;
}
@media (max-width: 1200px) {
  .tag--small {
    margin: auto;
    max-width: 150px;
  }
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 44px auto;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 1302px;
  min-height: 776px;
}

@media (max-width: 1120px) {
  .title {
    text-align: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  margin-top: 26px;
}
@media (max-width: 1200px) {
  .header-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.header-container {
  display: grid;
  grid-template-columns: 146px 146px 146px 146px;
  grid-template-rows: 46px 46px 46px;
  column-gap: 20px;
  row-gap: 24px;
  margin-right: 131px;
}
@media (max-width: 1200px) {
  .header-container {
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) and (max-width: 800px) {
  .header-container {
    grid-template-columns: 146px 146px;
    grid-template-rows: 46px 46px 46px 46px 46px 46px;
    margin-right: 115px;
  }
}
@media (max-width: 1200px) and (max-width: 800px) and (max-width: 500px) {
  .header-container {
    margin-right: 10px;
  }
}

.footer {
  margin-top: 73px;
}
.footer .footer-wrapper {
  display: flex;
  margin-top: 35px;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  .footer .footer-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer .footer-container {
  display: grid;
  grid-template-columns: 116px 116px 116px 116px;
  grid-template-rows: 36px 36px 36px;
  column-gap: 50px;
  row-gap: 20px;
  margin-right: 159px;
}
.footer .footer-container.download_sm {
  margin-left: 14px;
}
@media (max-width: 1200px) {
  .footer .footer-container {
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) and (max-width: 800px) {
  .footer .footer-container {
    grid-template-columns: 116px 116px;
    grid-template-rows: 36px 36px 36px 36px 36px 36px;
    margin-right: 115px;
  }
}
@media (max-width: 1200px) and (max-width: 800px) and (max-width: 500px) {
  .footer .footer-container {
    margin-right: 55px;
  }
}