@media (max-width: 500px) {
	 .last-screen .wrapper>.h2 , .delivery .wrapper>h2 {
		font-size: 21px;
		}
	.main-screen .wrapper{
			padding: 0 10px;
			overflow: hidden;
			}
	header {
		min-height: 140px;
		}
	header .wrapper {
		display: flex;
		flex-wrap: wrap;
		height: 140px;
		padding: 0 8px;
		}
	header .logo {
		margin-right: 5px;
		}
	header .phone {
		margin-top: 11px;
		}
	header .right-block {
		margin-left: auto;
		}
	.main-screen .left-block>.h1 {
		font-size: 24px;
		line-height: 50px;
		}
	.main-screen .wrapper .description {
		font-size: 20px;
		}
	.main-screen .wrapper>.left-block, .main-screen .wrapper>.right-block {
		min-width: 320px;
		height: auto;
		}
	.main-screen .left-block>.description {
		margin-top: 25px;
		}
	.main-screen .right-block>.price {
		position: absolute;
		right: 0;
		top: 0;
		}
	.main-screen .right-block {
		text-align: center;
		padding-top: 50px;
		}
	.about .wrapper>.column-block {
		width: auto;
		display: flex;
		flex-wrap: wrap;
		}
	.about .description:first-child {
		width: 39%;
		}
	.about .wrapper>.column-block::after {
		margin: 200px 0 27px;
		}
	.about .wrapper .description:last-child>img {
		max-width: 300px;
		max-height: 150px;
		}
	.about .wrapper .description.double {
		width: 80%;
		}
	.about .wrapper .description:nth-child(2)>img {
		margin-left: -34px;
		margin-bottom: 40px;
		}
	.reasons .wrapper>.reason {
		width: calc(45% - 20px);
		margin: 15px 9px;
		}
	.delivery .wrapper>.advantages .adv-title {
		font-size: 15px;
		}
	.delivery .wrapper>.left-block {
		margin-right: 50px;
		margin-left: 20px;
		}
	.how .wrapper>.left-block, .how .wrapper>.right-block {
		width: calc(100% - 100px);
		}
	.how .wrapper .left-block .half-width {
			width: 100%;
		}
	.how .wrapper .right-block>.small-height-fix{
		height: 110px;
		width: 100%;
		}
	.reviews .wrapper .arrow-left{
		visibility: hidden;
		}
	.reviews .review-text {
		display: inline-block;
		width: calc(90% - 15px);
		margin-left: 15px;
		line-height: 24px;
		vertical-align: top;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 300px;
		}
  .reviews .wrapper .review-slider .slick-slide {
		display: flex;
		flex-direction: column;
		}
	.slick-slide {
		float: right;
		}
	.reviews .wrapper .review-author {
		flex-wrap: wrap;
		justify-content: center;
		}
	.reviews .review-text {
		display: block;
		}
	.reviews .review-text:hover {
		overflow: visible;
		}
	section.last-screen>.wrapper {
		height: 870px;
		}
	.last-screen .wrapper .left-block {
		height: 285px;
		}
	.last-screen .wrapper .left-block img {
		width: 100%;
		}
	}