html {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}
body {
	/*position: relative;
	top: 0;
	left: 0;*/
	width: 100vw;
	max-width: 1440px;
	height: auto;
	margin: auto;
}
.all-content {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;  
}

/* Header container */
.header {
	width: 100%;
	display: flex;
	justify-content: center ;
	box-sizing: border-box;
	background-color: #ED4C5C;
}
.header-links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header-links a{
	margin-right: 25px;
}
.header, .main, .footer {
	  min-height: 500px;
}
.header_title {
 margin: 120px 80px 115px 165px;
}
.header_slider-image {
	margin: 95px 215px 95px 0;
}
.header_title>p {
	padding: 25px 0 40px;
}
 h1 {
 	font-size: 3rem;
 	font-weight: 600;
 	line-height: 43px;
 	color: #FFFFFF;
 }
 p {
 	font-weight: normal;
 	font-size: 1.17rem;
 	line-height: 140%;/* or 20px */
 	text-align: justify;
 	color: #000000;
 }

/* Main container */
 .main {
	 width: 100%;
	 display: flex;
	 justify-content: center;
	/* align-items: center;
	 /*margin-top: 117px;
	  padding-bottom: 78px;   */
 }
.main-contact>h1 {
	color: #000;
}
.main-contact {
	margin: 115px 0 225px 175px;
	max-width: 445px;
	max-height: 160px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.main-contact>p {
	max-width: 434px;
	padding-top: 40px ;
}
.main-form {
	margin: 115px  165px 125px  125px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 540px;
	height: 305px;
}
input::placeholder , select {
	font-weight: normal;
	font-size: 1.33rem;
	line-height: 19px;
	color: rgba(19, 39, 67, 0.5);
}
input[type="text"], input[type="tel"] , select {
	border: 1px solid #333333;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 0 30px 0 30px;
}
input[type="text"] {
	width: 255px;
	height: 60px;
	/*display: inline;
	align-items: center;*/
	vertical-align: baseline;
}
input[type="tel"] {
	margin: 24px 0 24px;
}
input[type="tel"] , select {
	width: 540px;
	height: 60px;
}
input[type="submit"] {
	color: #FFFFFF;
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 17px; /* identical to box height */
	text-transform: uppercase;
	margin-top: 25px;
	background: #ED4C5C;
	border: 1.5px solid #ED4C5C;
	box-sizing: border-box;
	border-radius: 6px;
	width: 160px;
	height: 50px;
}

/* Footer container */
.footer {
	position: relative;
	background-color: #FAFAFA;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-container {
	display: flex;

	justify-content: space-between;
	align-items: flex-start;
	margin-left: 165px;
	margin-right: 195px;
}
.footer-content {
	margin-top: 85px;
	margin-right: 30px;
}
h3 {
	text-align: left;
	color: #101010;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 22px;
	margin-bottom: 33px;
}
.footer-address ul li {
	line-height: 150%; /* or 18px */
	color: #101010;
}
ul li {
	width: 254px;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
}
.footer-service ul li {
	line-height: 160%; /* or 19px */
	text-transform: capitalize;
	color: #000000;
}
.footer-social {
	margin-right: 170px;
}
p.email  {
	color: #101010;
	margin-bottom: 10px;
}
p.number {
	color: #121212;
	margin-bottom: 20px;
}
.footer-content a {
	text-decoration: none;
	color: #000;
}
p.footer-protect {
	position: absolute;
	/*left: 161px;
	top: 1380px;
	margin-bottom: 85px ;*/
	left: 161px;
	top: 335px;
	width: 155px;
	color: #101010;
	font-size: 1rem;
	line-height: 14px;
}                     