$size: 150px;
$dif: $size/14;
body {
  background-color:  #d6a4a4;
  background: -webkit-linear-gradient(to left, #c4d1f5, #d6a4a4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left,#c4d1f5, #d6a4a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow:hidden;
}

.preloader {
  height: $size;
  width: $size;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%, 0);
  -moz-transform: translate(-50%, -50%, 0);
  -ms-transform: translate(-50%, -50%, 0);
  -o-transform: translate(-50%, -50%, 0);
  transform: translate(-50%, -50%, 0);

  div {
    position: absolute;
    border-radius: 10%;
    opacity: 0.7;
  }
}
@for $i from 1 through 14 {
  $red: random(256)-1;
  $green: random(256)-1;
  $blue: random(256)-1;

  @-webkit-keyframes rotate#{$i} {
    0%  	{ -webkit-transform: rotate(0deg) scale(1) translateY(-$size/2*($i - 1)*0.2) translateZ(0); }
    50%	{ -webkit-transform:  rotate($i*90deg) scale($i*0.1*2) translateY($size/2*($i - 1)*0.2) translateZ(0); }
    100%	{ -webkit-transform: rotate($i*360deg) scale(1) translateY(-$size/2*($i - 1)*0.2) translateZ(0); }
  }
  @-moz-keyframes rotate#{$i} {
    0%  	{ -moz-transform: rotate(0deg) scale(1) translateY(-$size/2*($i - 1)*0.2) translateZ(0); }
    50%	{ -moz-transform:  rotate($i*90deg) scale($i*0.1*2) translateY($size/2*($i - 1)*0.2) translateZ(0); }
    100%	{ -moz-transform: rotate($i*360deg) scale(1) translateY(-$size/2*($i - 1)*0.2) translateZ(0); }
  }
  @-o-keyframes rotate#{$i} {
    0%  	{ -o-transform: rotate(0deg) scale(1) translateY(-$size/2*($i - 1)*0.2) translateZ(0); }
    50%	{ -o-transform:  rotate($i*90deg) scale($i*0.1*2) translateY($size/2*($i - 1)*0.2) translateZ(0); }
    100%	{ -o-transform: rotate($i*360deg) scale(1) translateY(-$size/2*($i - 1)*0.2) translateZ(0); }
  }


  #square-#{$i} {
    width: $size - $i * $dif;
    height: $size - $i * $dif;
    top: $i*$dif/2;
    left: $i*$dif/2;
    background-color: rgba($red, $green, $blue, 1);

    -webkit-animation: rotate#{$i} 8s infinite linear;
    -moz-animation: rotate#{$i} 8s infinite linear;
    -o-animation: rotate#{$i} 8s infinite linear;
    animation: rotate#{$i} 8s infinite linear;
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}