body {
  background-color: #d6a4a4;
  background: -webkit-linear-gradient(to left, #c4d1f5, #d6a4a4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c4d1f5, #d6a4a4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}

.preloader {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 52%;
  left: calc(50% - 50px);
  -webkit-transform: translate(-50%, -50%, 0);
  -moz-transform: translate(-50%, -50%, 0);
  -ms-transform: translate(-50%, -50%, 0);
  -o-transform: translate(-50%, -50%, 0);
  transform: translate(-50%, -50%, 0);
}
.preloader div {
  position: absolute;
  border-radius: 10%;
  opacity: 0.7;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(0px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(90deg) scale(0.2) translateY(0px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1) translateY(0px) translateZ(0);
  }
}
@-moz-keyframes rotate1 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(0px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(90deg) scale(0.2) translateY(0px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(360deg) scale(1) translateY(0px) translateZ(0);
  }
}
@-o-keyframes rotate1 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(0px) translateZ(0);
  }
  50% {
    -o-transform: rotate(90deg) scale(0.2) translateY(0px) translateZ(0);
  }
  100% {
    -o-transform: rotate(360deg) scale(1) translateY(0px) translateZ(0);
  }
}
#square-1 {
  width: 90px;
  height: 90px;
  top: 5px;
  left: 5px;
  background-color: #a4cd39;
  -webkit-animation: rotate1 5s infinite linear;
  -moz-animation: rotate1 5s infinite linear;
  -o-animation: rotate1 5s infinite linear;
  animation: rotate1 5s infinite linear;
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-10px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.4) translateY(10px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1) translateY(-10px) translateZ(0);
  }
}
@-moz-keyframes rotate2 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-10px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(180deg) scale(0.4) translateY(10px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(720deg) scale(1) translateY(-10px) translateZ(0);
  }
}
@-o-keyframes rotate2 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-10px) translateZ(0);
  }
  50% {
    -o-transform: rotate(180deg) scale(0.4) translateY(10px) translateZ(0);
  }
  100% {
    -o-transform: rotate(720deg) scale(1) translateY(-10px) translateZ(0);
  }
}
#square-2 {
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  background-color: #ba100b;
  -webkit-animation: rotate2 5s infinite linear;
  -moz-animation: rotate2 5s infinite linear;
  -o-animation: rotate2 5s infinite linear;
  animation: rotate2 5s infinite linear;
}

@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-20px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(270deg) scale(0.6) translateY(20px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(1080deg) scale(1) translateY(-20px) translateZ(0);
  }
}
@-moz-keyframes rotate3 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-20px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(270deg) scale(0.6) translateY(20px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(1080deg) scale(1) translateY(-20px) translateZ(0);
  }
}
@-o-keyframes rotate3 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-20px) translateZ(0);
  }
  50% {
    -o-transform: rotate(270deg) scale(0.6) translateY(20px) translateZ(0);
  }
  100% {
    -o-transform: rotate(1080deg) scale(1) translateY(-20px) translateZ(0);
  }
}
#square-3 {
  width: 70px;
  height: 70px;
  top: 15px;
  left: 15px;
  background-color: #7f1156;
  -webkit-animation: rotate3 5s infinite linear;
  -moz-animation: rotate3 5s infinite linear;
  -o-animation: rotate3 5s infinite linear;
  animation: rotate3 5s infinite linear;
}

@-webkit-keyframes rotate4 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-30px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(0.8) translateY(30px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(1440deg) scale(1) translateY(-30px) translateZ(0);
  }
}
@-moz-keyframes rotate4 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-30px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(360deg) scale(0.8) translateY(30px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(1440deg) scale(1) translateY(-30px) translateZ(0);
  }
}
@-o-keyframes rotate4 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-30px) translateZ(0);
  }
  50% {
    -o-transform: rotate(360deg) scale(0.8) translateY(30px) translateZ(0);
  }
  100% {
    -o-transform: rotate(1440deg) scale(1) translateY(-30px) translateZ(0);
  }
}
#square-4 {
  width: 60px;
  height: 60px;
  top: 20px;
  left: 20px;
  background-color: #b79a23;
  -webkit-animation: rotate4 5s infinite linear;
  -moz-animation: rotate4 5s infinite linear;
  -o-animation: rotate4 5s infinite linear;
  animation: rotate4 5s infinite linear;
}

@-webkit-keyframes rotate5 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-40px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(450deg) scale(1) translateY(40px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(1800deg) scale(1) translateY(-40px) translateZ(0);
  }
}
@-moz-keyframes rotate5 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-40px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(450deg) scale(1) translateY(40px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(1800deg) scale(1) translateY(-40px) translateZ(0);
  }
}
@-o-keyframes rotate5 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-40px) translateZ(0);
  }
  50% {
    -o-transform: rotate(450deg) scale(1) translateY(40px) translateZ(0);
  }
  100% {
    -o-transform: rotate(1800deg) scale(1) translateY(-40px) translateZ(0);
  }
}
#square-5 {
  width: 50px;
  height: 50px;
  top: 25px;
  left: 25px;
  background-color: #c02712;
  -webkit-animation: rotate5 5s infinite linear;
  -moz-animation: rotate5 5s infinite linear;
  -o-animation: rotate5 5s infinite linear;
  animation: rotate5 5s infinite linear;
}

@-webkit-keyframes rotate6 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-50px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(540deg) scale(1.2) translateY(50px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(2160deg) scale(1) translateY(-50px) translateZ(0);
  }
}
@-moz-keyframes rotate6 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-50px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(540deg) scale(1.2) translateY(50px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(2160deg) scale(1) translateY(-50px) translateZ(0);
  }
}
@-o-keyframes rotate6 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-50px) translateZ(0);
  }
  50% {
    -o-transform: rotate(540deg) scale(1.2) translateY(50px) translateZ(0);
  }
  100% {
    -o-transform: rotate(2160deg) scale(1) translateY(-50px) translateZ(0);
  }
}
#square-6 {
  width: 40px;
  height: 40px;
  top: 30px;
  left: 30px;
  background-color: #105018;
  -webkit-animation: rotate6 5s infinite linear;
  -moz-animation: rotate6 5s infinite linear;
  -o-animation: rotate6 5s infinite linear;
  animation: rotate6 5s infinite linear;
}

@-webkit-keyframes rotate7 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-60px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(630deg) scale(1.4) translateY(60px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(2520deg) scale(1) translateY(-60px) translateZ(0);
  }
}
@-moz-keyframes rotate7 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-60px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(630deg) scale(1.4) translateY(60px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(2520deg) scale(1) translateY(-60px) translateZ(0);
  }
}
@-o-keyframes rotate7 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-60px) translateZ(0);
  }
  50% {
    -o-transform: rotate(630deg) scale(1.4) translateY(60px) translateZ(0);
  }
  100% {
    -o-transform: rotate(2520deg) scale(1) translateY(-60px) translateZ(0);
  }
}
#square-7 {
  width: 30px;
  height: 30px;
  top: 35px;
  left: 35px;
  background-color: #6318ac;
  -webkit-animation: rotate7 5s infinite linear;
  -moz-animation: rotate7 5s infinite linear;
  -o-animation: rotate7 5s infinite linear;
  animation: rotate7 5s infinite linear;
}

@-webkit-keyframes rotate8 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-70px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(720deg) scale(1.6) translateY(70px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(2880deg) scale(1) translateY(-70px) translateZ(0);
  }
}
@-moz-keyframes rotate8 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-70px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(720deg) scale(1.6) translateY(70px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(2880deg) scale(1) translateY(-70px) translateZ(0);
  }
}
@-o-keyframes rotate8 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-70px) translateZ(0);
  }
  50% {
    -o-transform: rotate(720deg) scale(1.6) translateY(70px) translateZ(0);
  }
  100% {
    -o-transform: rotate(2880deg) scale(1) translateY(-70px) translateZ(0);
  }
}
#square-8 {
  width: 20px;
  height: 20px;
  top: 40px;
  left: 40px;
  background-color: #7a6a8b;
  -webkit-animation: rotate8 5s infinite linear;
  -moz-animation: rotate8 5s infinite linear;
  -o-animation: rotate8 5s infinite linear;
  animation: rotate8 5s infinite linear;
}

@-webkit-keyframes rotate9 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-80px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(810deg) scale(1.8) translateY(80px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(3240deg) scale(1) translateY(-80px) translateZ(0);
  }
}
@-moz-keyframes rotate9 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-80px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(810deg) scale(1.8) translateY(80px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(3240deg) scale(1) translateY(-80px) translateZ(0);
  }
}
@-o-keyframes rotate9 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-80px) translateZ(0);
  }
  50% {
    -o-transform: rotate(810deg) scale(1.8) translateY(80px) translateZ(0);
  }
  100% {
    -o-transform: rotate(3240deg) scale(1) translateY(-80px) translateZ(0);
  }
}
#square-9 {
  width: 10px;
  height: 10px;
  top: 45px;
  left: 45px;
  background-color: #4cc9ff;
  -webkit-animation: rotate9 5s infinite linear;
  -moz-animation: rotate9 5s infinite linear;
  -o-animation: rotate9 5s infinite linear;
  animation: rotate9 5s infinite linear;
}

@-webkit-keyframes rotate10 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-90px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(900deg) scale(2) translateY(90px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(3600deg) scale(1) translateY(-90px) translateZ(0);
  }
}
@-moz-keyframes rotate10 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-90px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(900deg) scale(2) translateY(90px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(3600deg) scale(1) translateY(-90px) translateZ(0);
  }
}
@-o-keyframes rotate10 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-90px) translateZ(0);
  }
  50% {
    -o-transform: rotate(900deg) scale(2) translateY(90px) translateZ(0);
  }
  100% {
    -o-transform: rotate(3600deg) scale(1) translateY(-90px) translateZ(0);
  }
}
#square-10 {
  width: 0px;
  height: 0px;
  top: 50px;
  left: 50px;
  background-color: #1fcbf6;
  -webkit-animation: rotate10 5s infinite linear;
  -moz-animation: rotate10 5s infinite linear;
  -o-animation: rotate10 5s infinite linear;
  animation: rotate10 5s infinite linear;
}

@-webkit-keyframes rotate11 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-100px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(990deg) scale(2.2) translateY(100px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(3960deg) scale(1) translateY(-100px) translateZ(0);
  }
}
@-moz-keyframes rotate11 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-100px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(990deg) scale(2.2) translateY(100px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(3960deg) scale(1) translateY(-100px) translateZ(0);
  }
}
@-o-keyframes rotate11 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-100px) translateZ(0);
  }
  50% {
    -o-transform: rotate(990deg) scale(2.2) translateY(100px) translateZ(0);
  }
  100% {
    -o-transform: rotate(3960deg) scale(1) translateY(-100px) translateZ(0);
  }
}
#square-11 {
  width: -10px;
  height: -10px;
  top: 55px;
  left: 55px;
  background-color: #d45c49;
  -webkit-animation: rotate11 5s infinite linear;
  -moz-animation: rotate11 5s infinite linear;
  -o-animation: rotate11 5s infinite linear;
  animation: rotate11 5s infinite linear;
}

@-webkit-keyframes rotate12 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-110px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(1080deg) scale(2.4) translateY(110px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(4320deg) scale(1) translateY(-110px) translateZ(0);
  }
}
@-moz-keyframes rotate12 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-110px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(1080deg) scale(2.4) translateY(110px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(4320deg) scale(1) translateY(-110px) translateZ(0);
  }
}
@-o-keyframes rotate12 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-110px) translateZ(0);
  }
  50% {
    -o-transform: rotate(1080deg) scale(2.4) translateY(110px) translateZ(0);
  }
  100% {
    -o-transform: rotate(4320deg) scale(1) translateY(-110px) translateZ(0);
  }
}
#square-12 {
  width: -20px;
  height: -20px;
  top: 60px;
  left: 60px;
  background-color: #bbd648;
  -webkit-animation: rotate12 5s infinite linear;
  -moz-animation: rotate12 5s infinite linear;
  -o-animation: rotate12 5s infinite linear;
  animation: rotate12 5s infinite linear;
}

@-webkit-keyframes rotate13 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-120px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(1170deg) scale(2.6) translateY(120px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(4680deg) scale(1) translateY(-120px) translateZ(0);
  }
}
@-moz-keyframes rotate13 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-120px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(1170deg) scale(2.6) translateY(120px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(4680deg) scale(1) translateY(-120px) translateZ(0);
  }
}
@-o-keyframes rotate13 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-120px) translateZ(0);
  }
  50% {
    -o-transform: rotate(1170deg) scale(2.6) translateY(120px) translateZ(0);
  }
  100% {
    -o-transform: rotate(4680deg) scale(1) translateY(-120px) translateZ(0);
  }
}
#square-13 {
  width: -30px;
  height: -30px;
  top: 65px;
  left: 65px;
  background-color: #b15ee7;
  -webkit-animation: rotate13 5s infinite linear;
  -moz-animation: rotate13 5s infinite linear;
  -o-animation: rotate13 5s infinite linear;
  animation: rotate13 5s infinite linear;
}

@-webkit-keyframes rotate14 {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translateY(-130px) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(1260deg) scale(2.8) translateY(130px) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(5040deg) scale(1) translateY(-130px) translateZ(0);
  }
}
@-moz-keyframes rotate14 {
  0% {
    -moz-transform: rotate(0deg) scale(1) translateY(-130px) translateZ(0);
  }
  50% {
    -moz-transform: rotate(1260deg) scale(2.8) translateY(130px) translateZ(0);
  }
  100% {
    -moz-transform: rotate(5040deg) scale(1) translateY(-130px) translateZ(0);
  }
}
@-o-keyframes rotate14 {
  0% {
    -o-transform: rotate(0deg) scale(1) translateY(-130px) translateZ(0);
  }
  50% {
    -o-transform: rotate(1260deg) scale(2.8) translateY(130px) translateZ(0);
  }
  100% {
    -o-transform: rotate(5040deg) scale(1) translateY(-130px) translateZ(0);
  }
}
#square-14 {
  width: -40px;
  height: -40px;
  top: 70px;
  left: 70px;
  background-color: #468500;
  -webkit-animation: rotate14 5s infinite linear;
  -moz-animation: rotate14 5s infinite linear;
  -o-animation: rotate14 5s infinite linear;
  animation: rotate14 5s infinite linear;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/*# sourceMappingURL=preloader.css.map */
