html, body {
	width: 100vw;
	height: auto;
	margin: auto;
	background: #c7b0b0;
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-size: 16px;
	}
.wrapper {
	width: 100%;
	margin: auto;
	/*border: 2px solid rgba(160, 12, 12, 0.94);*/
	height: 100vh;
	background: #d0b6b6;
	overflow-x: hidden;
	}
.all-wrapper {
	margin: auto;
	max-width: 1440px;
	}