.chain-wrapper {
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	}
.chain-wrapper h1	{
	color: white;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	}
.chain-wrapper div {
	margin: 0 auto;
	font-size: 24px;
	color: #000000;
	width: 80%;
	height: 255px;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	}
.chain-wrapper div:first-child {
	justify-content: space-evenly;
	}
.chain-wrapper p {
	font-size: inherit;
	text-align: center;
	font-weight: bold;
	color: #f4f6ff;
	}
.chain-wrapper label {
	display: flex;
	justify-content: center;
	}
.chain-wrapper input {
	width: 60px;
	height: 40px;
	margin-right: 50px;
	font-size: 50px;
	font-family: 'Balsamiq Sans', cursive;
	border-radius: 4px;
	background-image: none;
	padding: 30px;
	}
.chain-wrapper button {
	width: 80px;
	font-size: 30px;
	font-family: 'Balsamiq Sans', cursive;
	border-radius: 4px;
	}
.chain-wrapper p:first-child {
	color: white;
	}
.chain-wrapper p:last-child {
	color: #f94d40;
	font-size: 28px;
	font-weight: bold;
	}
.chain-wrapper p#phraseRandom {
	color: black;
	font-size: 20px;
	}
.chain-wrapper span {
	color: red;
	}