@font-face {
	font-family: 'Baloo Bhai 2';
	src: url(fonts/BalooBhai2-ExtraBold.ttf);
	font-weight: 800;
	font-style: normal;
	}
a {
	text-decoration: none;
	}
body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	/*line-height: 15px;*/
	max-width: 1600px;
	min-width: 1100px;
	min-height: 600px;
	/*width: 100vw;*/
	/*height: 100vh;*/
	height: auto;
	overflow-x: hidden;
	margin: 0 auto;
	}
.all-content {
	width: 100%;
	height: auto;
	margin-top: 24px;
	display: inline-flex;
	}
h1 , h2, h3, h4 {
	font-family: 'Baloo Bhai 2', cursive;
	font-weight: 800;
	font-style: normal;
	}
h1 {
	font-size: 4rem;
			/*64px;*/
	line-height: 102px;
	color: #FFFFFF;
	}
h2 {
	font-size: 2.25rem;
			/*36px;*/
	line-height: 57px;
	color: #000000;
	}
p {
	font-size: 1rem;
	/*line-height: 1.6rem;*/
	/*line-height: 150%;*/
	line-height: 24px;
	color: #000000;
	}
.nav-bar {
	background: #000000;
	border-radius: 24px;
	/*width: 132px;*/
	/*height: 852px;*/
	display: flex;
	flex-direction: column;
	width: 9%;
	/*margin-top: 24px	;*/
	margin-left: 34px;
	justify-content: space-between;
	align-items: center;
	padding: 13px 66px;
	/*padding-top: 15px;*/
	-webkit-box-shadow: 20px 20px 52px -5px rgba(0,0,0,0.35);
	-moz-box-shadow: 20px 20px 52px -5px rgba(0,0,0,0.35);
	box-shadow: 20px 20px 52px -5px rgba(0,0,0,0.35);
	}
.nav-bar-item {
	display: flex;
	margin-top: 64px;
	align-items: center;
	padding: 0 51px;
	}
.nav-bar-log_out {
	margin-top: 224px;
	/*padding-bottom: 34px;*/
	/*margin-top: 17em;*/
	padding-bottom: 24px;
	}
.main {
	width: 43%;
	/*width: 620px;*/
	/*background-color: #9C69E2;*/
	margin-left: -60px;
	box-sizing: border-box;
	}
.main-container {
	/*position: relative;*/
	display: flex;
	/*justify-content: space-evenly;*/
	align-items: center;
	height: 160px;
	margin-top: 30px;
	background-color: #F5F5F7;
	border-radius: 14px;
	}
.main-title {
	/*width: 620px;*/
	/*width: 43%;*/
	width:inherit;
	margin-top: 25px;
	margin-right: 125px;
	/*padding-right: 17%;*/
	/*margin-right: 20%;*/
	margin-left: 31px;
	align-items: center;
	}
.main-illustration {
	transform: translateY(-7%);
	}
.main-title h2 {
	/*font-size: 36px;*/
	font-size: 2.25rem;
	/*line-height: 125%;*/
	line-height: 1.6rem;
	/*line-height: 57px;*/
	}
.main-text {
	font-size: 1rem;
	line-height: 1.6rem;
	/* line-height: 150%; */
	/* line-height: 24px; */
	margin-top: 8px;
	color: #000000;
	}
.arrow-left {
	transform: rotate(-180deg);
	}
.arrow-right {
	padding-left: 12px;
	}
.my_course {
	margin-top: 24px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*height: 80px;*/
	}
.my_course-container {
	width: 75%;
	/*padding: 8px 0;*/
	padding: 8px 23px 8px 8px;
	display: flex;
	/*justify-content: flex-start;*/
	justify-content: space-evenly;
	/*margin-right: 24px;*/
	background: #F5F5F7;
	border-radius: 14px;
	align-items: center;
	}
h4 {
	font-size: 1rem;
	line-height: 26px;
	}
.my_course-title {
	/*margin-right: 46px;*/
	/*margin-left: 24px;*/
	margin-right: 35px;
	margin-left: 24px;
	min-width: 140px;
	flex-basis: 85px;
	}
.my_course-title p , .courses-info-title p {
	font-size: 0.81rem;
	line-height: 15px;
	}
button {
	font-size: 0.81rem;
	line-height: 15px;
	color: #FFFFFF;
	padding: 13px 34px;
	background: #000000;
	border-radius: 8px;
	}
.arrows {
	margin-top: inherit;
	}
.icon {
	background: #FFFFFF;
	border-radius: 12px;
	min-width: 64px;
	min-height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.chart {
	position: relative;
	margin-right: 38px;
	}
span {
	font-size: 0.81rem;
	position: absolute;
	top: 35%;
	left: 25%;
	text-align: center;
	}
.btn {
	border: none;
	}
h3 {
	font-size: 1.5rem;
	line-height: 38px;
	}
.courses-container {
	margin-top: 40px;
	}
.courses-title {
	display: flex;
	margin-top: 18px;
	}
.courses-info-title {
	align-self: center;
	/*margin-right: 15px;*/
	min-width: 152px;
	flex-basis: 87px;
	}
.courses-title-menu {
	padding-left: 31px;
	color: #000000;
	opacity: 0.3;
	}
.courses-info {
	width: inherit;
	/*height: 80px;*/
	background: #F5F5F7;
	border-radius: 14px;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	/*justify-content: space-around;*/
	justify-items: center;
	/*padding-top: 20px;*/
	padding: 8px 23px 8px 8px;
	}
.btn-view {
	padding: 13px 22px;
	align-self: center;
	}
.time, .rating {
	display: flex;
	align-self: center;
	}
.time img, .rating img {
	padding: 8px;
	}
.time p , .rating p {
	font-size: 0.81rem;
	align-self: center;
	padding-left: 3px;
	}

/* Aside container*/
/*.right-side {*/
/*	*/
/*	}*/
.statistics-container {
	margin-top: 31px;
	margin-bottom: 24px;
	/*width: 440px;*/
	width: 31%;
	margin-left: 65px;
	/*margin-bottom: 24px;*/
	/*margin-top: 31px;*/
	}
.bell {
	display: flex;
	}
.bell img {
	width: 26px;
	padding: 6px;
	}
.circle {
	position: relative;
	top: 0;
	right: 14px;
	width: 14px;
	height: 14px;
	text-align: center;
	border-radius: 50%;
	background: #F45B5B;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 22px;
	color: #FFFFFF;
	/*align-self: center;*/
	/*padding: 4px;*/
	}
.your_statistics {
	margin-top: 40px;
	}
.statistics-menu, .progress {
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
.statistics-menu {
	margin-top: 16px;
	}
.progress {
	margin-top: 24px;
	}
.statistics-menu ul {
	display: flex;
	}
.progress-courses , .commercial {
	background: #F5F5F7;
	border-radius: 14px;
	}
.progress-courses {
	width: 47%;
	height: 96px;
	display: inline-flex;
	justify-content: center;
	/*padding: 30px  30px 18px;*/
	}
.progress-courses h1 {
	color: #000000;
	}
.progress-courses p {
	align-self: center;
	width: 80px;
	}
.statistics-menu p:first-child {
	margin-left: 12px;
	}
.statistics-menu p:last-child {
	margin-left: 15px;
	}
.statistics-menu li:last-child {
	margin-left: 24px;
	color: #000000;
	opacity: 0.3;
	}
.your_statistics img {
	margin-top: 25px;
	}
.commercial {
	margin-top: 46px;
	padding: 24px 40px 16px 24px;
	display: flex;
	justify-content: space-between;
	}
.commercial p {
	max-width: 179px;
	margin-top: 0;
	}
.btn-go {
	margin-top: 24px;
	border: none;
	padding: 13px 24px;
	}
.commercial img {
	align-self: center;
	}

/* Form Search */
.search-content {
	width: 100%;
	height: 40px;
	display: inline-flex;
	justify-content: space-between;
	}
.search-content form {
	background: #F5F5F7;
	border-radius: 8px;
	padding:  0 15px 10px 15px;
	box-sizing: border-box;
	margin-right: 15px;
	min-width: 67%;
	height: 40px;
	}
.fa.fa-search {
	color: #5a5a5a;
	/*width: 20px;*/
	cursor: pointer;
	font-size: 24px;
	padding-top: 5px;
	}
.fa.fa-search:hover {
	color: #0b76ef;
	}
input[type="text"] {
	background: #F5F5F7;
	border: none;
	padding-left: 20px;
	width: 70%;
	}
input[placeholder=""] {
	color: #0b76ef;
	width: 70%;
	height: 35px;
	}
/* End Form Search */

/* Schedule form*/
.statistics-menu form {
	/*display: flex;*/
	/*align-items: center;*/
	background: #F5F5F7;
	border-radius: 8px;
	box-sizing: border-box;
	padding: 9px 16px;
	}
#schedule:hover {
	color: #0b76ef;
	}
select#schedule{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.81rem;
	line-height: 15px;
	text-transform: capitalize;
	background: transparent;
	max-width: 88px;
	border: none;
	outline: none;
	}
select#schedule option {
	padding-top: 15px;
	}
/* End Schedule form*/