.footer-button__block
    +btn-group_Tab_1
    .btn-group_big-icon
        button.btn.btn__primary.btn__big-icon
            +svg_loop
        button.btn.btn__secondary.btn__big-icon
            +svg_loop(class="black-loop")
        button.btn.btn__secondary.btn__big-icon
            +svg_loop(class="black-loop")
    +btn-group_Tab_3()