.footer-container.download_sm
    +button__primary--sm
    +button__disabled--sm
    +button__secondary--sm
    +button__secondary_focused--sm

    +button__primary--right--sm
    +button__disabled--right--sm
    +button__secondary--right--sm
    +button__secondary_focused--right--sm

    +button__primary--left--sm
    +button__disabled--left--sm
    +button__secondary--left--sm
    +button__secondary_focused--left--sm