.header-container.download_lg
    +button__primary
    +button__disabled
    +button__secondary
    +button__secondary_focused

    +button__primary--right
    +button__disabled--right
    +button__secondary--right
    +button__secondary_focused--right

    +button__primary--left
    +button__disabled--left
    +button__secondary--left
    +button__secondary_focused--left
