button.btn.btn__secondary.btn-tag--sm
    span.right Tag
    +svg_tag1(class="black")

button.btn.btn__primary.btn-tag--sm
    span.right Tag
    +svg_tag1(class="white")

button.btn.btn__secondary.btn-tag--sm Tag

button.btn.btn__primary.btn-tag--sm Tag