//@import "./constants";
.btn__primary {
  color: $color_6;
  background-color: $color_1;
}
.btn__disabled {
  color: $color_5;
  background-color: $color_2;
}

.btn__secondary {
  color: $color_4;
  background-color: $color_6;
  border: 1px solid #E0E0E0;
}
.btn__secondary_focused {
  border: 1px solid $color_1;
  color: $color_1;
  background-color: $color_6;
}
.btn__primary {
  //color: $color_6;
  //background-color: $color_1;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    border: 1px solid $color_1;
    color: $color_1;
    background-color: #c1c6e8;
  }
}
.btn__disabled {
  //color: $color_5;
  //background-color: $color_2;
  &:active {
    opacity: 0.5;
  }
  &:hover {
    color: $color_4;
  }
}
.btn__secondary {
  //color: $color_4;
  //background-color: $color_6;
  //border: 1px solid #E0E0E0;
  &:hover {
    opacity: 0.7;
    background-color: $color_2;
  }
  &:active {
    color: $color_4;
    opacity: 1;
    background-color: #9e9191;
  }
}
.btn__secondary_focused {
  //border: 1px solid $color_1;
  //color: $color_1;
  //background-color: $color_6;
  &:hover {
    background-color: #c1c6e8;
  }
  &:active {
    color: $color_6;
  }
}