@import "nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import "constants";
@import "icon-styles";
@import "./header/big-buttons";
@import "./header/header-button__block";
@import "./footer/footer-button__block";
@import "./footer/circle-block";
@import "./footer/small-buttons";


//----
html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 44px auto;
}
body{
  font-family: 'Inter', sans-serif;
  max-width: 1302px;
  min-height: 776px;
}
.title {
 @extend %con-title;
}
.wrapper {
  @extend %size;
  display: flex;
  flex-direction: column;
}
.header-wrapper {
  display: flex;
  margin-top: 26px;
}
.header-container {
  display: grid;
  grid-template-columns: 146px 146px 146px 146px;
  grid-template-rows: 46px 46px 46px;
  column-gap: 20px;
  row-gap: 24px;
  margin-right: 131px;
}

.footer {
  margin-top: 73px;
  .footer-wrapper {
    display: flex;
    margin-top: 35px;
    padding-bottom:50px;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 116px 116px 116px 116px;
    grid-template-rows: 36px 36px 36px;
    column-gap: 50px;
    row-gap: 20px;
    margin-right: 159px;
    &.download_sm {
      margin-left: 14px;
    }
  }
}










