.nav-link.active {
	border-top: 1px solid  #262626;
	font-weight: bold;
	color: #262626;
	}
.nav-link:focus {
	border-top: 1px solid  #262626;
	}
footer .nav-link {
	color: #8F8F8F;
	padding-right: 0 ;
	padding-left:  0 ;
	}
.container {
	max-width: 971px;
	}
.nav-tabs {
	border: none;
	}
input[placeholder="Search"] {
	color: #8F8F8F;
	text-align: center;
	}
p {
	margin-bottom: 0;
	flex-basis: 531px;
	max-width: 531px;
	}
.nav-item {
	margin-right: -12px;
	}