html, body {
	width: 100vw;
	/*height: 100vh;*/
	background: #6a4162;
	font-family: Arial, Helvetica, "Roboto", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	overflow-x: hidden ;
	}
h1	{
	color: #e4c0fd ;
	margin-top: 30px ;
	text-align: center;
	font-size: 1.8rem;
	}
h2	{
	color: #fff0f0 ;
	text-align: center;
	font-size: 1.6rem;
	}
h3 {
	text-align: center;
	font-size: 1.4rem;
	}
#container {
	margin: 20px auto;
	width: 90vw;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow-x: hidden;
	}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80vw;
	height: auto;
	min-height: 200px;
	margin-top: 15px;
	}
.done {
	width: 50%;
	height: auto;
	/*min-height: 100px;*/
	border-radius: 3px;
	border: 2px solid black;
	background-color: #adb5bd;
	padding: 5px;
	}
.res-1 , .res-2 {
	display: flex;
	justify-content: space-around;
	}
.card-item {
	border: 2px solid black;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	}
button {
	font-size: 0.9rem;
	color: #ffdede;
	width: 50%;
	margin-top: 10px;
	padding: 10px;
	align-self: center;
	border-radius: 4px;
	background: #AA076B; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #61045F, #AA076B); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
input {
	padding: 5px;
	font-size: 1rem;
	}
.footer {
	text-align: center;
	margin-top: 20px;
	border-top: 1px solid white;
	padding: 15px 0 ;
	}

@media (max-width: 1024px) {
		button , .done {
			width: 100%;
			}
	}
@media (max-width: 475px) {
	.res-1, .res-2 {
		flex-direction: column;
		}
	.card-item {
		flex-direction: column;
		}
	}