html , body {
	width: 100vw;
	height: 100vh;
	background-color: lightslategray;
	font-size: 14px;
	}
#container {
	margin: auto;
	width: 90vw;
	height: 100vh;
	background-image: url("../img/round-arch-466043_1280.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	}
.button-wrapper {
	position: relative;
	}
.fix {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	}
kbd	{
	color: yellow;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	}
span::first-letter{
	color: yellow;
	font-size: 18px;
	font-weight: 900;
	}
#bird>span::first-letter {
	color: white;
	font-size: 14px;
	font-weight: 500;
	}
#door-bell span {
	transform: translate(0px, 25px);
	color: #b18870;
	}
#door-bell{
	margin: 25% 51%;
	border-radius: 60%;
	background-color: #d0d0d0;
	width: 15px;
	height: 15px;
	}
#door-bell:hover {
	background-color: pink;
	}
#door-bell::after{
	position: absolute;
	background-color: #282828;
	width: 5px;
	height: 5px;
	content: "";
	border-radius: 60%;
	}
#knock {
	border-radius:6px;
	height: 30px;
	width: 50px;
	opacity: 0.5;
	background-color: saddlebrown;
	color: white;
	margin: 24% 41%;
	}
#car {
	height: 25px;
	width: 80px;
	background-color: #968d877a;
	margin: 44% 41%;
	color: #b65e23;
	}
#bird {
	height: 35px;
	width: 55px;
	background-color: saddlebrown;
	margin: 26% 7%;
	color: white;
	opacity: 0.6;
	}
#washDish {
	height: 40px;
	width: 80px;
	background-color: saddlebrown;
	margin: 26% 75%;
	color: white;
	opacity: 0.6;
	}
#bird:hover,#knock:hover, #washDish:hover {
	background-color: #8b1313;
	}
#car:hover {
	background-color: saddlebrown;
	opacity: 0.6 ;
	}
#light {
	padding: 20px 20px;
	height: 101px;
	width: 55px;
	margin: 25.3% 13%;
	border: none;
	color: white;
	opacity: 0.6;
	background-color: saddlebrown;
	border-radius: 3px;
	}
#light:hover {
	background-color: #f8ed13;
	box-shadow: 10px 10px 142px 37px rgba(237,237,14,1);
	color: #f8ed13;
	}

@media (min-width: 320px) and (max-width: 600px) {
	span::first-letter, #bird::after, span {
		font-size: 8px;
		}
	#light {
		padding: 2px 11px;
		height: 35px;
		width: 15px;
		}
	#washDish, #knock, #car, #bird {
		height: 21px;
		width: 39px;
		}
	#washDish {
		margin: 25% 74%;
		}
	kbd {
		font-size: 10px;
		}
	#bird {
		margin: 25% 4%;
		}
	#knock {
		margin: 23% 39%;
		}
	#bird > span::first-letter {
		font-size: 8px;
		}
	#car {
		margin: 47% 41%;
		}
	#door-bell {
		margin: 26% 50.5%;
		width: 11px;
		height: 12px;
		}
	#door-bell::after {
		width: 3px;
		height: 3px;
		}
	#door-bell span {
		transform: translate(0px, 12px);
		}
	}

@media (min-width:600px) and (max-width: 1050px) {
	span::first-letter, #bird::after , span {
		font-size: 8px;
		}
	#light {
		padding: 2px 18px;
		height: 63px;
		width: 15px;
		}
	#washDish {
		margin: 25% 74%;
		height: 30px;
		width: 74px;
		}
	kbd {
		font-size: 16px;
		}
	#bird {
		margin: 25% 5%;
		}
	#knock {
		margin: 24% 40%;
		}
	}

@media (min-width:600px) and (max-width: 850px) {
	#washDish, #car {
		height: 25px;
		width: 63px;
		}
	#light {
		padding: 2px 14px;
		height: 50px;
		}
	#bird {
		height: 27px;
		width: 46px;
		}
	#washDish {
		margin: 25% 74%;
		}
	kbd {
		font-size: 12px;
		}
	#bird > span::first-letter {
		font-size: 10px;
		}
	}

@media (min-width: 1050px) and (max-width: 1220px) {
	#knock {
		margin: 24% 40%;
		}
	#light {
		padding: 20px 22px;
		height: 76px;
		width: 50px;
		font-size: 12px;
		}
	#washDish {
		margin: 25% 74%;
		}
	#bird {
		margin: 25% 6%;
		}
	}

@media (min-width: 1220px) and (max-width: 1400px) {
	#light {
		padding: 20px 22px;
		height: 88px;
		width: 56px;
		}
	#washDish {
		margin: 25% 75%;
		}
	}

@media (min-width: 1600px) and (max-width: 1750px) {
	#light {
		padding: 20px 22px;
		height: 111px;
		width: 62px;
		}
	}

@media (min-width: 1750px)  {
	span::first-letter, #bird::after , span{
		 font-size: 20px;
		}
	#light {
		padding: 20px 25px;
		height: 130px;
		width: 65px;
		}
	#bird {
		height: 50px;
		width: 84px;
		}
	#bird>span::first-letter {
		font-size: 24px;
		}
	#washDish {
		height: 50px;
		width: 98px;
		}
	#car {
		height: 35px;
		width: 80px;
		margin: 57% 41%;
		}
	#knock {
		height: 40px;
		width: 75px;
		}
	#door-bell{
		width: 25px;
		height: 25px;
		}
	}

@media (min-width: 2100px) and (max-width: 2500px) {
	#light {
		padding: 20px 29px;
		height: 156px;
		width: 85px;
		}
	}

@media (min-width: 2500px){
	#light {
		padding: 20px 38px;
		height: 184px;
		width: 104px;
		}
	kbd {
		font-size: 24px;
		}
	}