body {
	width: 100vw;
	height: 100vh;
	background: #789aff;
	font-family: cursive;
	font-size: 12px;
	line-height: 1.5;
	overflow-x: hidden ;
	}
h1{
	margin-top: 30px ;
	text-align: center;
	font-size: 1.5rem;
	}
h2	{
	text-align: center;
	font-size: 1.4rem;
	}
#container {
	margin: 20px auto;
	width: 80vw;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow-x: hidden;
	}
.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 70%;
	align-content: center;
	padding: 20px;
	font-size: 20px;
	border-radius: 4px;
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.7);
	}
.card:nth-child(odd) , #card4 {
	background: #fd2577;
	color: #ffffff;
	margin-top: 25px;
	}
.card:nth-child(even), #card5 {
	background: #fdf925;
	color: #3b0202;
	margin-top: 25px;
	}
.card:nth-last-child(n+4){
	width: 40%;
	height: 250px;
	align-items: center;
	}
.card:first-child , .card:last-child {
	width: 70%;
	height: auto;
	}
.card div {
	display: flex;
	flex-wrap: wrap;
	width: 350px;
	justify-content: space-between;
	align-self: center;
	}
#card8 div , #card9 div , #card10 div  {
	justify-content: space-around;
	}
#card8 textarea {
	width: 100%;
	height: 50px ;
	}
#card9 div , #card10 div {
	margin-top: 5px;
	}
input , span, p , textarea {
	font-size: 0.9rem;
	margin-top: 5px;
	padding: 5px;
	}
input {
	width: 100px;
	height: 30px;
	}
span {
	align-self: flex-start;
	}
button {
	order: 2;
	width: 160px;
	margin-top: 10px;
	padding: 10px;
	align-self: center;
	border-radius: 4px;
	background: #bffff0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #FFAFBD, #bffff0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #FFAFBD, #bffff0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
p {
	order: 1;
	}
.footer {
	text-align: center;
	margin-top: 20px;
	border-top: 1px solid white;
	padding: 15px 0 ;
	}

@media (max-width: 700px) {
	card, .card:nth-last-child(n)  {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 95%;
		height: auto;
		/*align-items: center;*/
		align-content: center;
		padding: 10px;
		font-size: 20px;
		}
	.card div {
		display: flex;
		flex-wrap: wrap;
		width: auto;
		justify-content: space-between;
		align-self: center;
		flex-direction: column;
		}
	 #card5 {
		background: #fd2577;
		color: #ffffff;
		}
	 #card4 {
		background: #fdf925;
		color: #3b0202;
		}
	 button {
		 margin-bottom: 10px;
		 }
	}